@import "./scss/colors";
@import "./scss/bootstrap";
@import "./scss/header";
@import "./scss/frontend";
@import '~react-toastify/dist/ReactToastify.css';

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

.divider {
    border-bottom: 2px solid $primary;
    width: 200px;
    margin: 0 auto;
}

.card {
    border: 0;
    outline: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}